<div class="jumbotron">
		<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
				<h2 class="bussiness-card-heading">Bussiness Card</h2>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 bussiness-card-discription">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			</div>
		</div>
	</div>
	</div>
	<div class="row">
  <div class="container">
  	<div class="col-sm-6 col-md-4">
    <div class="thumbnail products" title="Standard Bussiness Card 60% off">
      <a routerLink="standard-bussiness-card">
        <div class="img-wrapper">
        <img src="..//..//..//assets/images/bussiness-card.png" alt="standard-bussiness-card-image">
      <h4 class="item-label col-xs-12 bg-info">Standard Bussiness Card <span class="info ">60% off</span></h4>
      </div>
      </a>
      <div class="caption">
        <div class="item-features">
        	<ul>
        		<li>Quantities as low as 100</li>
        		<li>Using good paper for printing</li>
        		<li>print on both sides as well</li>
        	</ul>
        </div>
        <p><a routerLink="standard-bussiness-card" class="btn btn-primary col-xs-6 col-xs-offset-3" role="button">Customize Now</a> </p>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail products" title="Matte Bussiness Card 60% off">
        <a routerLink="matte-bussiness-card">
      <div class="img-wrapper">
      	<img src="..//..//..//assets/images/matte-bussiness-card-image.jpg" alt="Matte-bussiness-card-image">
      <h4 class="item-label col-xs-12 bg-info">Matte Bussiness Card <span class="info ">60% off</span></h4>
      </div>
      </a>
      <div class="caption">
        <div class="item-features">
        	<ul>
        		<li>Quantities as low as 100</li>
        		<li>Using good paper for printing</li>
        		<li>print on both sides as well</li>
        	</ul>
        </div>
        <p><a href="#" class="btn btn-primary col-xs-6 col-xs-offset-3" role="button">Customize Now</a> </p>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail products" title="Gloss Bussiness Card 60% off">
        <a routerLink="gloss-bussiness-card">
      <div class="img-wrapper">
      	<img src="..//..//..//assets/images/bussiness-card.png" alt="Gloss-bussiness-card-image">
      <h4 class="item-label col-xs-12 bg-info">Gloss Bussiness Card <span class="info ">60% off</span></h4>
      </div>
      </a>
      <div class="caption">
        <div class="item-features">
        	<ul>
        		<li>Quantities as low as 100</li>
        		<li>Using good paper for printing</li>
        		<li>print on both sides as well</li>
        	</ul>
        </div>
        <p><a href="#" class="btn btn-primary col-xs-6 col-xs-offset-3" role="button">Customize Now</a> </p>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail products" title="Embossed  Bussiness Card 60% off">
        <a routerLink="embossed-bussiness-card">
      <div class="img-wrapper">
      	<img src="..//..//..//assets/images/bussiness-card.png" alt="Embossed-bussiness-card-image">
      <h4 class="item-label col-xs-12 bg-info">Embossed  Bussiness Card <span class="info ">60% off</span></h4>
      </div>
      </a>
      <div class="caption">
        <div class="item-features">
        	<ul>
        		<li>Quantities as low as 100</li>
        		<li>Using good paper for printing</li>
        		<li>print on both sides as well</li>
        	</ul>
        </div>
        <p><a href="#" class="btn btn-primary col-xs-6 col-xs-offset-3" role="button">Customize Now</a> </p>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail products" title="Premium  Bussiness Card 60% off">
        <a routerLink="standard-bussiness-card">
      <div class="img-wrapper">
      	<img src="..//..//..//assets/images/bussiness-card.png" alt="Premium -bussiness-card-image">
      <h4 class="item-label col-xs-12 bg-info">Premium  Bussiness Card <span class="info ">60% off</span></h4>
      </div>
      </a>
      <div class="caption">
        <div class="item-features">
        	<ul>
        		<li>Quantities as low as 100</li>
        		<li>Using good paper for printing</li>
        		<li>print on both sides as well</li>
        	</ul>
        </div>
        <p><a href="#" class="btn btn-primary col-xs-6 col-xs-offset-3" role="button">Customize Now</a> </p>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail products" title="Personal Bussiness Card 60% off">
        <a routerLink="personal-bussiness-card">
      <div class="img-wrapper">
      	<img src="..//..//..//assets/images/bussiness-card.png" alt="Personal-bussiness-card-image">
      <h4 class="item-label col-xs-12 bg-info">Personal Bussiness Card <span class="info ">60% off</span></h4>
      </div>
    </a>
      <div class="caption">
        <div class="item-features">
        	<ul>
        		<li>Quantities as low as 100</li>
        		<li>Using good paper for printing</li>
        		<li>print on both sides as well</li>
        	</ul>
        </div>
        <p><a href="#" class="btn btn-primary col-xs-6 col-xs-offset-3" role="button">Customize Now</a> </p>
      </div>
    </div>
  </div>
  
  </div>
</div>

<div class="row">
	<div class="container">
		<h3>Bussiness Card Printing Services</h3>
		<ul class="bussiness-card-list">
			<li>
				<p><a href="#">Standard Bussiness Card </a>comes in square format having one side or both sided printing.</p>
			</li>
			<li>
				<p><a href="#">Standard Bussiness Card </a>comes in square format having one side or both sided printing.</p>
			</li>
			<li>
				<p><a href="#">Standard Bussiness Card </a>comes in square format having one side or both sided printing.</p>
			</li>
			
		</ul>
	</div>
</div>