<hr class="footer-starts">
<footer>
    <div class="container">
        <div class="row">
            <div class="footer-content">
            <div  class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <h4 class="text-center">Lets Us Help</h4>
                <ul class="list-group">
                    <li><a href="#" class="list-group-item">My Acoount</a></li>
                    <li><a href="#"  class="list-group-item">Help</a></li>
                    <li><a href="#"  class="list-group-item">Contact Us</a></li>
                    <li><a href="#"  class="list-group-item">Shipping & Delivery</a></li>
                    <li><a href="#"  class="list-group-item">Request Samples</a></li>
                </ul>
            </div>

            <div  class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <h4 class="text-center">What We Offer</h4>
                <ul class="list-group">
                    <li><a href="#" class="list-group-item">Our Products</a></li>
                    <li><a href="#"  class="list-group-item">Upload Your Design</a></li>
                    <li><a href="#"  class="list-group-item">Partner With Us</a></li>
                    <li><a href="#"  class="list-group-item">Partner Offers</a></li>
                    <li><a href="#"  class="list-group-item">Reseller Program</a></li>
                    <li><a href="#"  class="list-group-item">Popular Searches</a></li>
                </ul>
            </div>

            <div  class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <h4 class="text-center">Our Companay</h4>
                <ul class="list-group">
                    <li><a href="#" class="list-group-item">About Us</a></li>
                    <li><a href="#"  class="list-group-item">Careers</a></li>
                    <li><a href="#"  class="list-group-item">For Media</a></li>
                    <li><a href="#"  class="list-group-item">For Investors</a></li>
                    <li><a href="#"  class="list-group-item">Sustainability</a></li>
                    <li><a href="#"  class="list-group-item">Webs</a></li>
                </ul>
            </div>
            <div  class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <h4 class="text-center">Our Policies</h4>
                <ul class="list-group">
                    <li><a href="#" class="list-group-item">Copyright matters</a></li>
                    <li><a href="#"  class="list-group-item">Trademard matters</a></li>
                </ul>
            </div>
            <div class="clearfix"></div>
            </div>
        </div> <!-- ends footer1 row -->
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                    <h4 class="text-center">Connect withs Us</h4>
                    <ul class="list-group" id="social-media-links">
                        <li><a href="#"><img src="images/facebook.png"></a></li>
                        <li><a href="#"><img src="images/whatsapp.png"></a></li>
                        <li><a href="#"><img src="images/twitter.png"></a></li>
                        <li><a href="#"><img src="images/instagram.png"></a></li>
                        <li><a href="#"><img src="images/pinterest.png"></a></li>
                    </ul>
                </div>

                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <h4 class="text-center">Sign Up for saving Email Address</h4>
                    <div class="input-group input-group-lg">
                      <input type="email" class="form-control" placeholder="Email Address" aria-describedby="basic-addon2">
                      <span class="input-group-addon" id="emailAddress"><i class="glyphicon 
glyphicon glyphicon-inbox"></i></span>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                    <h4 class="text-center">Absolutely Garanteed</h4>
                    <a href="#"><p class="text-center">Every time. Any reason. Or<br> we'll make it right.</p></a>
                </div>


            </div>
        </div>
    </div>
</footer><!-- footer ends -->