<div>
        <div class="latest-product-section">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <h2 class="secttion-title text-center">VIEW OUR PRODUCTS FOR PRINTING</h2>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                        <div class="product-item">
                            <a routerLink="products/1">
                                <div class="img-wrapper" >
                                <img src="..//..//..//assets/images/bussiness-card.png" class="img-responsive center-block">
                                <div>
                                    <h4>{{product.name}}</h4>
                                </div>
                                </div>
                            </a>
                            <div class="product-meta">
                                <h4 class="text-center">{{product.name}}</h4>
                                <div class="price pull-left">{{product.price}}</div>
                                <div class="cart-link pull-right"><a href="bussiness-page.html"><i class="glyphicon glyphicon-shopping-cart"></i></a></div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
        
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                        <div class="product-item">
                            <a routerLink="products/0">
                                <div class="img-wrapper">
                                <img src="..//..//..//assets/images/merriage.jpg" class="img-responsive center-block">
                                <h4>Banner And Singnage</h4>
                            </div>
                            </a>
                            <div class="product-meta">
                                <h4 class="text-center">Banner And Signage</h4>
                                <div class="price pull-left">$50</div>
                                <div class="cart-link pull-right"><a href="BannerAndSignage.html"><i class="glyphicon glyphicon-shopping-cart"></i></a></div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
        
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                        <div class="product-item">
                            <a routerLink="products/2">
                                <div class="img-wrapper">
                                    <img src="..//..//..//assets/images/bussiness-card.png" class="img-responsive center-block">
                                    <h4>Calander</h4>
                                </div>
                            </a>
                            <div class="product-meta">
                                <h4 class="text-center">Calander</h4>
                                <div class="price pull-left">$50</div>
                                <div class="cart-link pull-right"><a href="#"><i class="glyphicon glyphicon-shopping-cart"></i></a></div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
        
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                        <div class="product-item">
                            <a routerLink="products/6">
                            <div class="img-wrapper">
                                <img src="..//..//..//assets/images/brousher.jpg" class="img-responsive center-block ">
                                <h4>Borshers</h4>
                            </div>
                            </a>
                            <div class="product-meta">
                                <h4 class="text-center">Borshers</h4>
                                <div class="price pull-left">$50</div>
                                <div class="cart-link pull-right"><a href="#"><i class="glyphicon glyphicon-shopping-cart"></i></a></div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
        
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                        <div class="product-item">
                            <a routerLink="products/7">
                            <div class="img-wrapper">
                                <img src="..//..//..//assets/images/magic-cup.jpg" class="img-responsive center-block">
                                <h4>Mug Printing</h4>
                            </div>
                        </a>
                            <div class="product-meta">
                                <h4 class="text-center">Mug Printing</h4>
                                <div class="price pull-left">$50</div>
                                <div class="cart-link pull-right"><a href="#"><i class="glyphicon glyphicon-shopping-cart"></i></a></div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
        
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                        <div class="product-item">
                            <a routerLink="products/8">
                            <div class="img-wrapper">
                                <img src="..//..//..//assets/images/shirt.jpg" class="img-responsive center-block">
                                <h4>T-Shirt Printing</h4>
                            </div>
                            </a>
                            <div class="product-meta">
                                <h4 class="text-center">T-Shirt Printing</h4>
                                <div class="price pull-left">$50</div>
                                <div class="cart-link pull-right"><a href="#"><i class="glyphicon glyphicon-shopping-cart"></i></a></div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
        
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                        <div class="product-item">
                            <a routerLink="products/9">
                            <div class="img-wrapper">
                                <img src="..//..//..//assets/images/key-chain.jpg" class="img-responsive center-block">
                                <h4>Key- Ring Printing</h4>
                            </div>
                            </a>
                            <div class="product-meta">
                                <h4 class="text-center">Key- Ring Printing</h4>
                                <div class="price pull-left">$50</div>
                                <div class="cart-link pull-right"><a href="#"><i class="glyphicon glyphicon-shopping-cart"></i></a></div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
        
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                        <div class="product-item">
                            <a routerLink="products/11">
                            <div class="img-wrapper">
                                <img src="..//..//..//assets/images/logo-design.jpg" class="img-responsive center-block">
                                <h4>Logo Design</h4>
                            </div>
                            </a>
                            <div class="product-meta">
                                <h4 class="text-center">Logo Design</h4>
                                <div class="price pull-left">$50</div>
                                <div class="cart-link pull-right"><a href="#"><i class="glyphicon glyphicon-shopping-cart"></i></a></div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
        
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                        <div class="product-item">
                            <a routerLink="products/13">
                            <div class="img-wrapper">
                                <img src="..//..//..//assets/images/envelop.jpg" class="img-responsive center-block">
                                <h4>Envelops</h4>
                            </div>
                            </a>
                            <div class="product-meta">
                                <h4 class="text-center">Envelops</h4>
                                <div class="price pull-left">$50</div>
                                <div class="cart-link pull-right"><a href="#"><i class="glyphicon glyphicon-shopping-cart"></i></a></div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
        
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                        <div class="product-item">
                            <a routerLink="products/3">
                            <div class="img-wrapper">
                                <img src="../../../assets/images/bag.jpg" class="img-responsive center-block">
                                <h4>Bag Printing</h4>
                            </div>
                            </a>
                            <div class="product-meta">
                                <h4 class="text-center">Bag Printing</h4>
                                <div class="price pull-left">$50</div>
                                <div class="cart-link pull-right"><a href="#"><i class="glyphicon glyphicon-shopping-cart"></i></a></div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
        
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                        <div class="product-item">
                            <a routerLink="products/16">
                            <div class="img-wrapper">
                                <img src="../../../assets/images/notepad.jpg" class="img-responsive center-block">
                                <h4>Note Pads</h4>
                            </div>
                            </a>
                            <div class="product-meta">
                                <h4 class="text-center">Note Pads</h4>
                                <div class="price pull-left">$50</div>
                                <div class="cart-link pull-right"><a href="#"><i class="glyphicon glyphicon-shopping-cart"></i></a></div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
        
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                        <div class="product-item">
                            <a routerLink="products/15">
                            <div class="img-wrapper">
                                <img src="../../../assets/images/file-cover.jpg" class="img-responsive center-block">
                                <h4>File Covers</h4>
                            </div>
                            </a>
                            <div class="product-meta">
                                <h4 class="text-center">File Covers</h4>
                                <div class="price pull-left">$50</div>
                                <div class="cart-link pull-right"><a href="#"><i class="glyphicon glyphicon-shopping-cart"></i></a></div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
        
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                        <div class="product-item">
                            <a routerLink="products/17">
                            <div class="img-wrapper">
                                <img src="../../../assets/images/books.jpg" class="img-responsive center-block">
                                <h4>Books</h4>
                            </div>
                            </a>
                            <div class="product-meta">
                                <h4 class="text-center">Books</h4>
                                <div class="price pull-left">$50</div>
                                <div class="cart-link pull-right"><a href="#"><i class="glyphicon glyphicon-shopping-cart"></i></a></div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
        
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                        <div class="product-item">
                            <a routerLink="products/18">
                            <div class="img-wrapper">
                                <img src="../../../assets/images/shield.jpg" class="img-responsive center-block">
                                <h4>Shields</h4>
                            </div>
                        </a>
                            <div class="product-meta">
                                <h4 class="text-center">Shields</h4>
                                <div class="price pull-left">$50</div>
                                <div class="cart-link pull-right"><a href="#"><i class="glyphicon glyphicon-shopping-cart"></i></a></div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
        
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                        <div class="product-item">
                            <a routerLink="products/19">
                            <div class="img-wrapper">
                                <img src="../../../assets/images/stamps.jpg" class="img-responsive center-block">
                                <h4>Stamps</h4>
                            </div>
                            </a>
                            <div class="product-meta">
                                <h4 class="text-center">Stamps</h4>
                                <div class="price pull-left">$50</div>
                                <div class="cart-link pull-right"><a href="#"><i class="glyphicon glyphicon-shopping-cart"></i></a></div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
        
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                        <div class="product-item">
                            <a routerLink="products/10">
                            <div class="img-wrapper">
                                <img src="../../../assets/images/stamps.jpg" class="img-responsive center-block">
                                <h4>Four color sticker Printing</h4>
                            </div>
                            </a>
                            <div class="product-meta">
                                <h4 class="text-center">Four color sticker Printing</h4>
                                <div class="price pull-left">$50</div>
                                <div class="cart-link pull-right"><a href="#"><i class="glyphicon glyphicon-shopping-cart"></i></a></div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div> <!-- product items ends -->
        
        <div class="container">
            <button class="btn-lg btn-primary" data-toggle="collapse" data-target="#more-product">View all Product</button>
            <div id="more-product" class="collapse">
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                        <div class="product-item">
                            <div class="img-wrapper">
                                <img src="../assets/images/envelop.jpg" class="img-responsive center-block">
                                <h4>Envelops</h4>
                            </div>
                            <div class="product-meta">
                                <h4 class="text-center">Envelops</h4>
                                <div class="price pull-left">$50</div>
                                <div class="cart-link pull-right"><a href="#"><i class="glyphicon glyphicon-shopping-cart"></i></a></div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
        
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                        <div class="product-item">
                            <div class="img-wrapper">
                                <img src="./images/bag.jpg" class="img-responsive center-block">
                                <h4>Bag Printing</h4>
                            </div>
                            <div class="product-meta">
                                <h4 class="text-center">Bag Printing</h4>
                                <div class="price pull-left">$50</div>
                                <div class="cart-link pull-right"><a href="#"><i class="glyphicon glyphicon-shopping-cart"></i></a></div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
        
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                        <div class="product-item">
                            <div class="img-wrapper">
                                <img src="images/notepad.jpg" class="img-responsive center-block">
                                <h4>Note Pads</h4>
                            </div>
                            <div class="product-meta">
                                <h4 class="text-center">Note Pads</h4>
                                <div class="price pull-left">$50</div>
                                <div class="cart-link pull-right"><a href="#"><i class="glyphicon glyphicon-shopping-cart"></i></a></div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
        
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                        <div class="product-item">
                            <div class="img-wrapper">
                                <img src="images/file-cover.jpg" class="img-responsive center-block">
                                <h4>File Covers</h4>
                            </div>
                            <div class="product-meta">
                                <h4 class="text-center">File Covers</h4>
                                <div class="price pull-left">$50</div>
                                <div class="cart-link pull-right"><a href="#"><i class="glyphicon glyphicon-shopping-cart"></i></a></div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
        
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                        <div class="product-item">
                            <div class="img-wrapper">
                                <img src="images/books.jpg" class="img-responsive center-block">
                                <h4>Books</h4>
                            </div>
                            <div class="product-meta">
                                <h4 class="text-center">Books</h4>
                                <div class="price pull-left">$50</div>
                                <div class="cart-link pull-right"><a href="#"><i class="glyphicon glyphicon-shopping-cart"></i></a></div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
        
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                        <div class="product-item">
                            <div class="img-wrapper">
                                <img src="images/shield.jpg" class="img-responsive center-block">
                                <h4>Shields</h4>
                            </div>
                            <div class="product-meta">
                                <h4 class="text-center">Shields</h4>
                                <div class="price pull-left">$50</div>
                                <div class="cart-link pull-right"><a href="#"><i class="glyphicon glyphicon-shopping-cart"></i></a></div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
        
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                        <div class="product-item">
                            <div class="img-wrapper">
                                <img src="images/stamps.jpg" class="img-responsive center-block">
                                <h4>Stamps</h4>
                            </div>
                            <div class="product-meta">
                                <h4 class="text-center">Stamps</h4>
                                <div class="price pull-left">$50</div>
                                <div class="cart-link pull-right"><a href="#"><i class="glyphicon glyphicon-shopping-cart"></i></a></div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
        
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                        <div class="product-item">
                            <div class="img-wrapper">
                                <img src="images/stamps.jpg" class="img-responsive center-block">
                                <h4>Stamps</h4>
                            </div>
                            <div class="product-meta">
                                <h4 class="text-center">Stamps</h4>
                                <div class="price pull-left">$50</div>
                                <div class="cart-link pull-right"><a href="#"><i class="glyphicon glyphicon-shopping-cart"></i></a></div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
            </div>
        </div>
    </div>