/* .latest-product-section {
    background-color: #424949;
} */
.banner-section img{
	margin: 0;
	padding: 0;
}
.clearfix {
	clear: both;
}
.img-wrapper {
	position: relative;
}
.img-wrapper h4 {
	position: absolute;
	margin-top: -50px;
	text-align: center;
	background-color: rgba(0,0,0,.5);
	color: #fff;
	padding: 10px;
	width: 100%;
	background-size: contain;
}
.img-wrapper img {
	max-width: 100%;
	height: auto;
}
.product-meta .cart-link {
	font-size: 24px;
}
.product-meta .price {
	font-family: 'Lato', sans-serif;
	font-size: 20px;
}
.product-item {
    box-shadow: 2px 2px 4px rgba(0,0,0,0.2);
    padding:10px 15px;
    margin-bottom:20px;
}
.view-all-product {
	text-align: center;
	margin: 10px 0;
}